// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#animal-box {
  display: inline-block;
  padding: 0px 30px 20px 30px;
}

#prof-link {
  float: right
}

#back-link {
  float: right;
  margin-right: 18%
}

#pet-name {
  margin-left: 10%
}

.general-info-box {

  width: 500px;
  height: 250px;

  .column {
    float: left
  }

  .column-org-info- {
    float: right
  }

}


